* {
    padding: 0;
    margin: 0;
}

.game--container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 50px;
}

.game--title {
    margin-top: 50px;
    font-size: 3.125rem;
}

.board--container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.board--cell {
    width: 150px;
    height: 150px;
    border: 3px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.board--top-left {
    border-width: 0 3px 3px 0;
}

.board--top-top {
    border-width: 0 3px 3px 3px;
}

.board--top-right {
    border-width: 0 0 3px 3px;
}

.board--mid-left {
    border-width: 3px 3px 3px 0;
}

.board--mid-right {
    border-width: 3px 0 3px 3px;
}

.board--bot-left {
    border-width: 3px 3px 0 0;
}

.board--bot-mid {
    border-width: 3px 3px 0 3px;
}

.board--bot-right {
    border-width: 3px 0 0 3px;
}

.results-pop-up {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    opacity: 1;
}
